@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    appearance: none;
}
body{
    transition: 2s ease-in-out;

}
    

:root {
    --clr-primary: #7380ec;
    --clr-danger: #ff7782;
    --clr-success: #41f1b6;
    --clr-white: #050404;
    --clr-info-dark: #7d8da1;
    --clr-info-light: #dce1eb;
    --clr-dark: #363949;
    --clr-warnig: #ff4edc;
    --clr-light: rgba(132, 139, 200, 0.18);
    --clr-primary-variant: #111e88;
    --clr-dark-variant: #677483;
    /* --clr-color-background: #f6f6f9; */
  
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
  
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--clr-light);
  
  }
  h1,h2,h3,h4,h5,p,a,i{
    color: #666666;
  }




  

aside
{
    box-shadow: 10px 10px 10px 5px whitesmoke;
     padding-left:1%;
height: 100vh;
width: 250px;
position: fixed;
top: 0;
transition: 2s ease-in-out;
}
aside .top
{
    position: relative;
    
    height: 15%;
    background-color:transparent;
 display: flex;
 justify-content: space-around;
 align-items: center;  
 margin-top: 1.4rem; 
}
aside .logo{
    display: flex;
    gap: 1rem;
   
}
.logo img{
    height: 80px;
    will-change: 80px;
    transition: 2s;
}
aside .top .close{

    position: absolute;
    right: 0;
    
    top:0;
    bottom: 0.5rem;
    font-size: 1.6rem;
}
/****************************
 sidebar
 *********************/
 aside .sidebar{
    background-color:transparent;
    display: flex;
    flex-direction: column;
    height: 85%;
    position: relative;
    top: 1rem;
    color: #666666;
 }
aside h3{
    font-weight: 300;
    color: #666666;

}
aside .sidebar a{
    display: flex;
    color: #666666;
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    height: 3.2rem;
    transition: all .1s ease-in;
}
aside .sidebar a span{
    font-size: 1.6rem;
    transition: all .1s ease-in;
}
aside .sidebar a:last-child{
    position: absolute;
    bottom: 5rem;
    /* border: 1px solid black; */
    width: 100%;
   
} 
aside .sidebar a.activ{
    background: var(--clr-light);
    color: var(--clr-primary);
    padding-left: 10px;
    margin-left: 0px;
    border-left: 5px solid var(--clr-primary);
}

/* aside .sidebar a.activ::before{
    content: "";
    width: 6px;
    height: 100%;
    background-color: var(--clr-primary);
} */
aside .sidebar a:hover{
    background: var(--clr-light);
    color: var(--clr-primary);
    margin-left: 0;
    border-left: 5px solid var(--clr-primary);

}

aside .sidebar a:hover span{
    margin-left: 1rem;
    transition: .4s ease;
    color: var(--clr-primary);

}
aside .sidebar a.activ:hover span{
    margin-left: 1rem;
    transition: .4s ease;
    color: var(--clr-primary);

}
aside .sidebar a span.msg{
    background-color:var(--clr-danger);
    color: var(--clr-white);
    padding: 5px 10px;
    font-size: 11px;
    border-radius:var(--border-radius-1);
}


/**********************
main start
************************/
main{
     background-color:#f6f6f9; 
margin-left: 250px;
    padding: 20px 0px 0px 20px;
    /* width:100%; */
    height: 100%;
    transition: 2s ease-in-out;
    color: #666666;
    /* background-color:var(--clr-dark); */
    /* border: 1px solid black; */
}



main .i{
    display: flex;
    justify-content: space-between;
    color: #666666;
}

main .i i{
  
   
    /* border: 1px solid black; */
    /* margin: 20PX 20PX; */
    font-size: 30px;
    color: var(--clr-white);
}


.icon{
   
    width: 30%;
    grid-area: icon;
    display: flex;
    flex-direction: row;color: #666666;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.icon img{
    height: 50px;
  
}
.hmm {
display: flex;
align-items: center;

}
.icon a{
    color: #666666;
    font-size: 20px;
    text-transform: uppercase;
}
.icon i{
    color: #666666;
}
main .icon i span.msg{
    position: absolute;
    background-color:var(--clr-danger);
    color: var(--clr-white);
    padding: 5px 7px;
    font-size: 11px;
    border-radius:var(--border-radius-1);
}

/* toogal strat */


.mode {
    float:right;
}
.change {
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 40%;
    width: 20px;
    text-align: center;
    padding: 5px;
    margin-left: 8px;
 
}
.dark{
    background-color: #222;
transition: 2s ease-in-out;
color: #e6e6e6;
    
}
/* togal end */

main h1{
    color: #666666;
}
main input{
    background-color: transparent;
    border: 0;
    outline: 0;
    color: #666666;
}
#bars{
    color: #666666;
}
main .date{
    display: inline-block;
    /* background-color:whitesmoke; */
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    border: 1px solid black;
    padding: 0.5rem 1.6rem;
    color: #666666;
}
main .date input type{
color: #666666;
}
.main1{
    
    width: 95%;
    height: auto;
    transition: .5s;
    position: relative;
    /* background-color:#000000; */
    margin: 20px 0PX;
    z-index: 22;
    border-radius: 10px;
    padding: 40px 30px;color: #666666;
}
.mainh{
    margin-bottom: 2%;
    display: flex;
    height: 10%;
    justify-content: space-between;
    align-items: center;
    color: #666666;
      
  }
  .mainh a{
    margin-bottom: 2%;
      padding: 10px 20px;
      background-color: #4272d7;
      color: white;
  
  }
  .a{
    box-shadow: 0 0 10px 3px rgb(93, 91, 91);


  }
  .mainh a:hover{
background-color: transparent;
color: #666666;
border: 1px solid #666666;
}
  .a h1 {
    color: whitesmoke;
  }
  .a h1 span{
    color: whitesmoke;
  }
  .a h1 i{
    color: whitesmoke;
  }
.card{
    height: auto;
    width: 100%;
    /* border: 1px solid black; */
    transition: .5s;
}
.cardm{
    transition: .5s;
    height: auto;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
}

.a{
    transition: .5s;
    height: 150px;
    width: 50%;
    /* border: 1px solid black; */
border-radius: 20px;
background-color:#202528;
padding: 10px 18px;
position: relative;
}

.b{
    height: 150px;
    width: 20%;
    /* background-image: -webkit-linear-gradient(90deg, #3f5efb 0%, #fc466b 100%); */

    /* border: 1px solid black; */
border-radius: 20px;
/* background-color:#202528; */
padding: 10px 18px;
position: relative;
}

.a h1{
  font-size: 25px;
    /* color: #14256a; */
}
.a .t
{
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 10px;
    font-weight: 400;
    color: #fff;
    /* background: #508ff4; */
    display: inline-block;
    border-radius: 3px;
    padding: 4px 14px;
}
.a .l{
    width:98%;
    height: 10px;
position: absolute;
bottom: 25px;
left: 5px;
border-radius: var(--border-radius-3);
background-color: #f8f9ff;
}
.a .l .l1{
    opacity: 0;
    animation: line 5s ease 0.5s  alternate both;
    width: 95%;
    height: 100%;
    background-color:red;
    border-radius: 10px;
}

.a p{
    position: absolute;
    right: 20px;
    bottom: 35px;
    color: whitesmoke;
}



.a .w
{
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 10px;
    font-weight: 400;
    color: #fff;
    background: #ffbf43;
    display: inline-block;
    border-radius: 3px;
    padding: 4px 14px;
}


.a .l2 {
    background: #f8f9ff;
    position: absolute;
bottom: 25px;

left: 5px;
    width: 90%;
    height: 10px;
    margin-left: 3%;
    /* background-color: var(--clr-success); */
    border-radius: var(--border-radius-2);
}
.a .l2 .la{
    opacity: 0;
    animation: line 5s ease 0.5s  alternate both;
    width: 69%;
    height: 100%;
    background-color: yellow;
    border-radius: var(--border-radius-3);
    transition: width 2.5s ease-in-out 0s;
}
#p2{
    position: absolute;
    right: 35%;
    
}


.a .m
{
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 10px;
    font-weight: 400;
    color: #fff;
    background-color:var(--clr-success);
    display: inline-block;
    border-radius: 3px;
    padding: 4px 14px;
}


.l3{
    width: 100%;
    height: 6px;
    background: #f8f9ff;
    width: 100%;
    height: 10px;
position: absolute;
bottom: 25px;

left: 5px;
  
}
.a .l3 {
    width: 98%;
    height: 10px;
    /* background-color: var(--clr-success); */
    border-radius: var(--border-radius-2);
}
.a .l3 .lb{ opacity: 0;
    animation: line 5s ease 0.5s  alternate both;
    width: 75%;
    height: 100%;
    background-color:var(--clr-success);
    border-radius: var(--border-radius-2);
    transition: width 2.5s ease-in-out 0s;
}
#p3{
    position: absolute;
    right: 25%;
    
}

.a .anual
{
    position: absolute;
    top: 35px;
  right: 10px;
    font-size: 10px;
    font-weight: 400;
    color: #fff;
    background-color:#9267ff;
    display: inline-block;
    border-radius: 3px;
    padding: 4px 14px;
}



.a .l4 {
    position: absolute;
bottom: 25px;

left: 5px;
    height: 6px;
    background: #f8f9ff;
    width: 98%;
    height: 10px;
    /* background-color: var(--clr-success); */
    border-radius: var(--border-radius-2);
}
@keyframes line {
    0%{
       width: 0;
       opacity: 0;
    }
    100%{
        opacity: 1;
    }
   
}
.a .l4 .lc{
    opacity: 0;
    animation: line 5s ease 0.5s  alternate both;
    background: rgb(146, 103, 255);
    width:85%;
    height: 100%;
    transition: width 3.5s ease-in-out 0s;
    border-radius: var(--border-radius-2);
}
#p4{
    position: absolute;
    right: 15%;
    
}

/* MAIN END */
/* GRAPH SATRT */

.g{
    height: 400px;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 20px 30px 20px;
}
.graph{
    object-fit: cover;
    height: 100%;
    width: 45%;
    /* border: 1PX SOLID green; */
}
.graph1{
    height: 100%;
    width: 45%;
    /* border: 1PX SOLID green; */
}



/* GRAPH END */

/* recent order */
main .recentm  {

    display: flex;
    /* justify-content: space-between; */
    padding-right: 20px;
    margin-top: 3rem;
}
main .recent_order{
  
 
    width: 68%;
    border-radius: var(--border-radius-3);
 }
 
 main .recent_order h2{
    padding: 10px 20px;
 }

 

 main .recent_order table{
   
   width: 100%;
   border-radius: var(--card-border-radius);
   padding: var(--card-padding);
   text-align: center;
   box-shadow: var(--box-shadow);
   transition: all .3s ease;
   color: var(--clr-danger);
 }

 
 main table tbody td{
    height: 3.8rem;
    border-bottom: 1px solid var(--clr-dark-variant);
    color:#666666;
 }
 main table tbody tr:last-child td{
    border: none;
 }
 
 
 main .recent_order a{
   text-align: center;
   display: block;
   margin: 1rem;
 }
 
/*resent order side bar start */
  
.right{

    /* border: 1px solid black; */
    border-radius: var(--border-radius-2);
  height: 400px;
    width:30%;
    box-shadow: var(--box-shadow);
    /* background-color: white; */
}
  .update{
    display: flex;
    height: 30%;
    width: 100%;
    /* border: 1px solid black; */
  }
  .update .profile {
width: 30%;
height: 100%;
/* border: 1px solid black; */
display: flex;
justify-content: center;
align-items: center;
  }
  .update .profile img {

    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.message{
width: 70%;
height: 100%;
display: flex;
align-items: center;
/* border: 1px solid black; */
font-size: 20px;
}
/*resent order end */

.add{
    margin: 0;
margin-left: -250px;
    transition: 2s ease-in-out;

}
.adm{
    
margin-left: 0px;
    transition: 2s ease-in-out;

}
.darkmode {
      
  
    color: whitesmoke;  

  }
  
  @media (max-width:480px) {
    
    aside{
        height: 200px;
        width: 200px;       
    }
}
